header {
    background: url('../img/wiz-top.png') no-repeat center center fixed;
    background-image: linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)),
      url('../img/wiz-top.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    width: 100%;
    box-shadow: inset 0px -10px 75px -10px #000;
}

input[type="text"] {
    padding: 11px;
    font-weight: normal;
    border-radius: 0px;
}

h1{
    font-weight: bold;
}
p {
    font-size: 150%;
}

.site-name {
    font-size: 60px;
}

.hero-container {
    text-align: center;
    display: inline-block;
    width: 360px;
    padding: 50px;
    margin: 5px;
    background-color: #C3E0EE;
    border-radius: 10px;
    border: 1px solid #B2D0DD;
}

.hero {
    text-shadow: 1px 1px 1px #222;
    text-transform: capitalize;
}

.title {
    display: inline;
    position: absolute;
    top: 150px;
    left: 35%;
    text-shadow: 1px 1px 1px #111;
    color: #eee;
}

.container-custom {
    padding: 7px;
    text-align: center;
    background-color: #D4F0FF;
}

.outline {
    border: 3px solid #C3E0EE;
    border-top: none;
    border-radius: 5px;
}

.btn {
    position: relative;
    top: -1px;
}

.player {
    color: #333;
    text-transform: capitalize;
}

.profileInfo {
    font-size: 30px;
    padding: 2em;
}

.userInfo {
    font-size: 25px;
}

.invalid {
    font-size: 20px;
    color: red;
}


.wizard {
    color: #000080;
}
.barbarian {
    color: red;
}
.monk {
    color: #CF5300;
}
.witch-doctor {
    color: #006400;
}
.demon-hunter {
    color: #800000;
}
.crusader {
    color: #F2E699;
}

.navbar {
    background-color: rgba(0,0,0,0);
    z-index: 0;
    border-color: rgba(0,0,0,0);
}

.navbar .nav > li > a {
    color: #eee;
    font-size: 20px;
    font-family: inherit;
    text-shadow: 1px 1px 1px #111;
}

@media (max-width: 979px) {
    header {
        height: 400px;
        width: 100%;
        background-size: cover;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
}

@media (max-width: 767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .nav > li > a {
        padding-right: 50px;
    }
}